{% extends "base.html" %}
{% load i18n %}

{% block content %}
<h1>{% trans "Log in" %}</h1>

{% if form.errors %}
<p>{% trans "Your username and password didn't match. Please try again." %}</p>
{% endif %}

<div class="login-form">
<form action="." method="post" id="login-form">
  {% csrf_token %}
  <div class="login-row">
    {{ form.username.label_tag }} {{ form.username }}
  </div>
  <div class="login-row">
    {{ form.password.label_tag }} {{ form.password }}
    <input type="hidden" name="next" value="{{ next }}" />
  </div>
  <div class="login-row">
    <label>&nbsp;</label><input class="btn btn-primary" type="submit" value="{% trans "Log in" %}" />
  </div>
</form>
</div>
{% endblock %}
