<!DOCTYPE html>
<html lang="en">
<head>
<title>Coconuts</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<style>
.ng-cloak {
    display: none !important;
}
</style>
<link rel="stylesheet" type="text/css" href="/static/coconuts/css/font-awesome.min.css"/>
<link rel="stylesheet" type="text/css" href="/static/coconuts/css/coconuts.css?v=5"/>
</head>
<body ng-app="coconuts">
<div class="breadcrumbs ng-cloak" ng-controller="CrumbCtrl">
    <div class="crumbs">
        <span ng-repeat="crumb in crumbs"><span ng-show="$index"> &rsaquo; </span><a href="" ng-click="show(crumb)">{{ crumb.name }}</a></span>
    </div>
    <div class="buttons">
        <a href="" ng-click="settings.toggleInformation()"><i class="icon-info-sign icon-large"></i></a>
        <a href="" ng-click="toggleFullScreen()"><i class="icon-fullscreen icon-large"></i></a>
    </div>
</div>

<div class="contents">
    <div class="slide-animate {{ transitionClass }}" ng-view></div>
</div>

<script src="/static/coconuts/js/angular.min.js" type="text/javascript"></script>
<script src="/static/coconuts/js/angular-animate.min.js" type="text/javascript"></script>
<script src="/static/coconuts/js/angular-resource.min.js" type="text/javascript"></script>
<script src="/static/coconuts/js/angular-route.min.js" type="text/javascript"></script>
<script src="/static/coconuts/js/angular-touch.min.js" type="text/javascript"></script>
<script src="/static/coconuts/js/coconuts.js?v=5" type="text/javascript"></script>
<script type="text/ng-template" id="/folder.html">
<div class="folder-view" ng-if="!currentPhoto">
    <h1>{{ currentFolder.name || "Home" }}</h1>

    <p ng-show="currentFolder.files.length == 0 && currentFolder.folders.length == 0" co-translate>There are no files in this folder.</p>

    <div class="file" ng-repeat="folder in currentFolder.folders">
        <div class="filename"><a href="" ng-click="show(folder)"><img ng-src="{{ folder.mimetype | fileIcon }}"/>{{ folder.name }}</a></div>
        <div class="filesize"></div>
    </div>

    <div ng-switch="showThumbnails">
        <div ng-switch-when="false">
            <div class="file" ng-repeat="file in currentFolder.files">
                <div class="filename"><a ng-href="{{ file | fileDownload }}"><img ng-src="{{ file.mimetype | fileIcon }}"/>{{ file.name }}</a></div>
                <div class="filesize">{{ file.size | fileSize }}</div>
            </div>
        </div>
        <div ng-switch-when="true">
            <ul class="thumbnails">
                <li ng-repeat="file in currentFolder.files">
                    <a href="" ng-click="show(file)" co-thumbnail="file"></a>
                </li>
                <li style="clear: both"></li>
            </ul>
        </div>
    </div>
</div>

<div class="photo-view" ng-if="currentPhoto">
    <div class="photo-display" style="height: {{ settings.display_height }}px">
        <div class="display" co-display="currentPhoto" style="height: {{ settings.display_height }}px"></div>
        <img ng-src="{{ nextPhoto | fileRender }}" style="display: none" ng-if="nextPhoto.image"/>
        <img ng-src="{{ previousPhoto | fileRender }}" style="display: none" ng-if="previousPhoto.image"/>
        <a class="photo-control left" href="" ng-click="showPrevious()" ng-show="previousPhoto"><i class="icon-angle-left"></i></a>
        <a class="photo-control right" href="" ng-click="showNext()" ng-show="nextPhoto"><i class="icon-angle-right"></i></a>
    </div>
    <div class="photo-info">
        <ul class="photo-details nav nav-tabs nav-stacked">
            <li ng-if="currentPhoto.image.width" title="The size of the original picture"><i class="icon-resize-full"></i> {{ currentPhoto.image.width }} x {{ currentPhoto.image.height }} pixels - {{ currentPhoto.size | fileSize }}</li>
            <li ng-if="currentPhoto.image.camera" title="The camera used to take this picture"><i class="icon-camera"></i> {{ currentPhoto.image.camera }}</li>
            <li ng-if="currentPhoto.image.settings" title="The aperture and exposure time for this picture"><i class="icon-wrench"></i> {{ currentPhoto.image.settings }}</li>
        </ul>
        <div class="photo-actions">
            <a class="btn btn-default" ng-href="{{ currentPhoto | fileDownload }}"><i class="icon-download"></i> <span co-translate>Download</span></a>
        </div>
    </div>
</div>
</script>

</body>
</html>
