<!DOCTYPE html>
<html lang="en">
<head>
<title>Coconuts</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<style>
.ng-cloak {
    display: none !important;
}
</style>
<link rel="stylesheet" type="text/css" href="/static/coconuts/css/base.css"/>
<link rel="stylesheet" type="text/css" href="/static/coconuts/css/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="/static/coconuts/css/bootstrap-responsive.min.css"/>
<link rel="stylesheet" type="text/css" href="/static/coconuts/css/font-awesome.min.css"/>
<link rel="stylesheet" type="text/css" href="/static/coconuts/css/coconuts.css"/>
</head>
<body ng-app="coconuts">
<div class="container">
    <div class="breadcrumbs" ng-controller="CrumbCtrl">
        <span><a href="#/">Home</a></span>
        <span ng-repeat="crumb in crumbs"> &rsaquo; <a href="#{{ crumb.path }}">{{ crumb.name }}</a></span>
    </div>

    <div ng-view></div>
</div>

<script src="/static/coconuts/js/jquery.min.js"></script>
<script src="/static/coconuts/js/bootstrap.min.js"></script>
<script src="/static/coconuts/js/angular.min.js" type="text/javascript"></script>
<script src="/static/coconuts/js/angular-animate.min.js" type="text/javascript"></script>
<script src="/static/coconuts/js/angular-resource.min.js" type="text/javascript"></script>
<script src="/static/coconuts/js/angular-route.min.js" type="text/javascript"></script>
<script src="/static/coconuts/js/angular-touch.min.js" type="text/javascript"></script>
<script src="/static/coconuts/js/coconuts.js" type="text/javascript"></script>
<script type="text/ng-template" id="/folder.html">
<div id="content">

<h1 ng-hide="currentPhoto">{{ currentFolder.name }}</h1>

<div class="btn-group object-tools ng-cloak" ng-show="currentFolder.can_write && !currentPhoto">
    <a class="btn dropdown-toggle" data-toggle="dropdown" href="">
        <span co-translate>Operations</span>
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        <li ng-show="currentFolder.can_write"><a href="" ng-click="addPrompt = true"><i class="icon-picture"></i> <span co-translate>Add a file</span></a></li>
        <li ng-show="currentFolder.can_write"><a href="" ng-click="createPrompt = true"><i class="icon-folder-close"></i> <span co-translate>Create a folder</span></a></li>
        <li ng-show="currentFolder.can_manage"><a href="{{ settings.coconuts_root }}manage{{ currentFolder.path }}"><i class="icon-key"></i> <span co-translate>Manage this share's permissions</span></a></li>
        <li ng-show="currentFolder.can_manage"><a href="/admin/auth/user/"><i class="icon-user"></i> <span co-translate>Manage user accounts</span></a></li>
    </ul>
</div>

<div class="ng-cloak" ng-hide="currentPhoto">
    <p ng-show="currentFolder.files.length == 0 && currentFolder.folders.length == 0" co-translate>There are no files in this folder.</p>

    <div class="file" ng-repeat="folder in currentFolder.folders">
        <div class="filename"><a href="#{{ folder.path }}"><img ng-src="{{ settings.static_root }}img/folder.png"/>{{ folder.name }}</a></div>
        <div class="filesize"></div>
        <div class="fileactions" ng-show="currentFolder.can_write">
            <a href="" ng-click="promptDelete(folder)"><i class="icon-remove"></i> <span co-translate>Delete</span></a>
        </div>
    </div>

    <div ng-switch="currentFolder.files.length == currentFolder.photos.length">
        <div ng-switch-when="false">
            <div class="file" ng-repeat="file in currentFolder.files">
                <div class="filename"><a href="{{ settings.coconuts_root }}download{{ file.path }}"><img ng-src="{{ file.name | fileIcon }}"/>{{ file.name }}</a></div>
                <div class="filesize">{{ file.size | fileSize }}</div>
                <div class="fileactions" ng-show="currentFolder.can_write">
                    <a href="" ng-click="promptDelete(file)"><i class="icon-remove"></i> <span co-translate>Delete</span></a>
                </div>
            </div>
        </div>
        <div ng-switch-when="true">
            <ul class="thumbnails">
                <li ng-repeat="file in currentFolder.files">
                    <a class="thumbnail" href="#{{ file.path }}"><img co-photo="file" co-size="128"/></a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="ng-cloak" ng-show="currentPhoto" ng-swipe-left="swipeLeft()" ng-swipe-right="swipeRight()">
    <div class="thumbnail" style="position: relative" ng-show="currentPhoto">
        <img co-photo="currentPhoto" co-size="1024"/>
        <img co-photo="nextPhoto" co-size="1024" style="display: none"/>
        <img co-photo="previousPhoto" co-size="1024" style="display: none"/>
        <a class="left carousel-control" href="" ng-click="swipeRight()" ng-show="previousPhoto">&lsaquo;</a>
        <a class="right carousel-control" href="" ng-click="swipeLeft()" ng-show="nextPhoto">&rsaquo;</a>
    </div>

    <div class="well photo-footer">
        <ul class="nav nav-tabs nav-stacked photo-info">
            <li title="The size of the original picture"><i class="icon-resize-full"></i> {{ currentPhoto.image.size[0] }} x {{ currentPhoto.image.size[1] }} pixels</li>
            <li title="The size of the original picture"><i class="icon-file"></i> {{ currentPhoto.size | fileSize }}</li>
            <li title="The camera used to take this picture"><i class="icon-camera"></i> {{ currentPhoto.image.camera }}</li>
            <li title="The aperture and exposure time for this picture"><i class="icon-wrench"></i> {{ currentPhoto.image.settings }}</li>
        </ul>
        <div class="photo-actions">
            <a class="btn btn-danger" href="" ng-click="promptDelete(currentPhoto)" ng-show="currentFolder.can_write"><i class="icon-remove"></i> <span co-translate>Delete</a>
            <a class="btn" href="{{ settings.coconuts_root }}download{{ currentPhoto.path }}"><i class="icon-download"></i> <span co-translate>Download</span></a>
        </div>
    </div>
</div>

<div class="modal form-inline ng-cloak" ng-show="addPrompt">
    <div class="modal-header">
        <button type="button" class="close" aria-hidden="true" ng-click="addPrompt = false">&times;</button>
        <h3><i class="icon-picture"></i> <span co-translate>Add a file</span></h3>
    </div>
    <div class="modal-body">
        <label for="id_upload">Upload:</label>
        <input id="id_upload" type="file" co-file="addFile">
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="doAdd()" co-translate>Save</button>
    </div>
</div>

<div class="modal form-inline ng-cloak" ng-show="createPrompt">
    <div class="modal-header">
        <button type="button" class="close" aria-hidden="true" ng-click="createPrompt = false">&times;</button>
        <h3><i class="icon-folder-close"></i> <span co-translate>Create a folder</span></h3>
    </div>
    <div class="modal-body">
        <label for="id_name">Name:</label>
        <input id="id_name" name="name" type="text" ng-model="createName">
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="doCreate()" co-translate>Save</button>
    </div>
</div>

<div class="modal form-inline ng-cloak" ng-show="deleteTarget">
    <div class="modal-header">
        <button type="button" class="close" aria-hidden="true" ng-click="deleteTarget = undefined">&times;</button>
        <h3 co-translate>Really delete "{{ deleteTarget.name }}"?</h3>
    </div>
    <div class="modal-body">
        <img co-photo="deleteTarget" co-size="128" style="vertical-align: center; display: inline"/>
        <p co-translate ng-show="deleteFolder">Are you sure you want to delete the folder "{{ deleteTarget.name }}" and all its contents?</p>
        <p co-translate ng-hide="deleteFolder">Are you sure you want to delete the file "{{ deleteTarget.name }}"?</p>
    </div>
    <div class="modal-footer">
        <a class="btn btn-danger" href="" ng-click="doDelete()" co-translate>Yes, I'm sure</button>
        <a class="btn" href="" ng-click="deleteTarget = undefined" co-translate>No, I'm not sure</a>
    </div>
</div>
</div>
</script>

</body>
</html>
