{% extends "coconuts/base.html" %}
{% load i18n %}

{% block content %}
<form class="modal form-inline" method="post">
{% csrf_token %}
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3><i class="icon-folder-close"></i> {{ title }}</h3>
</div>
<div class="modal-body">
    {{ form }}
</div>
<div class="modal-footer">
    <input type="submit" name="_save" class="btn btn-primary" value="{% trans "Save" %}">
</div>
</form>
{% endblock %}
