{% extends "base.html" %}
{% load coconuts_tags %}
{% load i18n %}

{% block title %}{% block subtitle %}{% endblock %} | Coconuts{% endblock %}

{% block headextra %}
<link rel="stylesheet" type="text/css" href="{% coconuts_static "css/coconuts.css" %}" />
{% block rssfeeds %}{% endblock %}
{% endblock %}

{% block branding %}<h1 id="site-name">{% coconuts_version %}</h1>{% endblock %}

{% block related %}{% endblock %}

{% block footer %}
<script type="text/javascript">
    $('#header').hide();
</script>
{% endblock %}
