{% extends "base.html" %}
{% load coconuts_tags %}
{% load i18n %}

{% block title %}{% block subtitle %}{% endblock %} | Coconuts{% endblock %}

{% block headextra %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}coconuts/css/coconuts.css"/>
{% endblock %}

{% block branding %}<h1 id="site-name">{% coconuts_version %}</h1>{% endblock %}

{% block footer %}
{{ block.super }}
<script src="{{ STATIC_URL }}coconuts/js/angular.min.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}coconuts/js/angular-animate.min.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}coconuts/js/angular-resource.min.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}coconuts/js/angular-route.min.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}coconuts/js/angular-touch.min.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}coconuts/js/coconuts.js" type="text/javascript"></script>
{% endblock footer %}
