{% load coconuts_tags %}
{% load i18n %}

<div class="module">
<h2><img src="{% coconuts_media "img/tip.png" %}"/>{% trans "Direct access to this folder" %}</h2>

<h4>{% trans "On Windows" %}</h4>

<p>
From the <span class="ui-app">file explorer</span>, choose
<span class="ui-entry">Tools</span> then
<span class="ui-entry">Connect to network drive</span>. Click on
<span class="ui-entry">Connect to a web folder or FTP server</span> and enter
<span class="url">{{ folder.webdav_url }}</span>
</p>

<h4>{% trans "On MacOS/X" %}</h4>

<p>
From the <span class="ui-app">Finder</span>, choose
<span class="ui-entry">Go to</span>, then
<span class="ui-entry">Connect to a server</span> and enter
<span class="url">{{ folder.webdav_url }}</span>
</p>

<h4>{% trans "On KDE" %}</h4>

<p>
In <span class="ui-app">Konqueror</span>, go to the following url
<span class="url">{{ folder.webdav_konqurl }}</span>
</p>
</div>
