{% extends "coconuts/base.html" %}
{% load coconuts_tags i18n %}

{% block subtitle %}{% blocktrans with share.name as name %}Manage {{ name }}{% endblocktrans %}{% endblock %}

{% block breadcrumbs %}{% coconuts_crumbs folder.path %}{% endblock %}

{% block content %}

<form class="modal" action="" method="POST">
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3><i class="icon-key"></i> {% blocktrans with share.name as name %}Manage {{ name }}{% endblocktrans %}</h3>
</div>
<div class="modal-body">
    {% csrf_token %}
    {{ shareform.as_p }}
    <label>{% trans "Permissions" %}</label>
    {{ formset.management_form }}
    <table class="table table-bordered">
    <thead>
    <tr>{% for field in formset.forms.0 %}<th>{{ field.label }}</th>{% endfor %}</tr>
    </thead>
    <tbody>
    {% for form in formset.forms %}
    <tr>{% for field in form %}<td>{{ field }}</td>{% endfor %}</tr>
    {% endfor %}
    </tbody>
    </table>
</div>
<div class="modal-footer">
    <input class="btn btn-primary" type="submit" value="{% trans "Save" %}" />
</div>
</form>
{% endblock %}
