{% extends "coconuts/base.html" %}
{% load coconuts_tags %}
{% load i18n %}

{% block subtitle %}{{ folder }}{% endblock %}

{% block breadcrumbs %}{% coconuts_crumbs folder.path %}{% endblock %}

{% block rssfeeds %}
<link rel="alternate" href="{% url coconuts.views.rss folder.path %}" type="application/rss+xml" title="" id="gallery" />
{% endblock %}

{% block content %}
<h1>{{ folder }}</h1>

{% if can_write %}
<div class="btn-group object-tools">
<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
{% trans "Operations" %}
<span class="caret"></span>
</a>
<ul class="dropdown-menu">
{% if can_write %}
    <li><a class="popup" href="{% url coconuts.views.add_file folder.path %}"><i class="icon-picture"></i> {% trans "Add a file to this folder" %}</a></li>
    <li><a class="popup" href="{% url coconuts.views.add_folder folder.path %}"><i class="icon-folder-close"></i> {% trans "Create a new subfolder" %}</a></li>
{% endif %}
{% if can_manage %}
    <li><a class="popup" href="{{ folder.share.manage_url }}"><i class="icon-key"></i> {% trans "Manage this share's permissions" %}</a></li>
{% endif %}
{% if user.is_staff %}
    <li><a href="/admin/auth/user/"><i class="icon-user"></i> {% trans "Manage user accounts" %}</a></li>
{% endif %}
</ul>
</div>
{% endif %}

{% for message in messages %}
<div class="message">{{ message|escape }}</div>
{% endfor %}

{% if not children and not files %}
<p>{% trans "There are no files in this folder." %}</p>
{% else %}
{% for dir in children %}
<div class="file" title="{{ dir.filedate }}">
  <div class="filename"><a href="{{ dir.url }}"><img src="{% coconuts_static "img/folder.png" %}"/>{{ dir }}</a></div>
  <div class="filesize"></div>
{% if can_write %}
  <div class="fileactions" title="{% trans "Delete this folder" %}"><a class="popup" href="{% url coconuts.views.delete dir.path %}?back={{ folder.url|urlencode }}&amp;next={{ folder.url|urlencode }}"><i class="icon-remove"></i> {% trans "Delete" %}</a></div>
{% endif %}
</div>
{% endfor %}

{% ifequal mode "photos" %}

<ul class="thumbnails">
{% for photo in photos %}
<li><a class="thumbnail" href="{{ photo.url }}"><img src="{% url coconuts.views.render photo.path %}?size=128" alt="{{ photo }}"/></a></li>
{% endfor %}
</ul>

{% else %}

{% for file in files %}
<div class="file" title="{{ file.filedate }}">
<div class="filename"><a href="{{ file.url }}"><img src="{% coconuts_mimeicon file.name %}"/>{{ file }}</a></div>
<div class="filesize">{% filesize file.filesize %}</div>
{% if can_write %}
<div class="fileactions" title="{% trans "Delete this file" %}"><a class="popup" href="{% url coconuts.views.delete file.path %}?back={{ folder.url|urlencode }}&amp;next={{ folder.url|urlencode }}"><i class="icon-remove"></i> {% trans "Delete" %}</a></div>
{% endif %}
</div>
{% endfor %}

{% endifequal %}

{% endif %}
{% endblock %}
