{% extends "coconuts/base.html" %}
{% load coconuts_tags %}
{% load i18n %}
{% load url from future %}

{% block subtitle %}{{ folder }}{% endblock %}

{% block breadcrumbs %}{% coconuts_crumbs folder.path %}{% endblock %}

{% block rssfeeds %}
<link rel="alternate" href="{% url 'coconuts.views.rss' folder.path %}" type="application/rss+xml" title="" id="gallery" />
{% endblock %}

{% block content %}
{% for message in messages %}
<div class="message">{{ message|escape }}</div>
{% endfor %}

{% verbatim %}
<div ng-app="coconuts" ng-controller="FolderCtrl">

<h1>{{ contents.name }}</h1>

<div class="btn-group object-tools" ng-show="contents.can_write && !currentPhoto">
    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
        <span co-translate>Operations</span>
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        <li ng-show="contents.can_write"><a class="popup" href="{{ settings.coconuts_root }}add_file/{{ contents.path }}"><i class="icon-picture"></i> <span co-translate>Add a file</span></a></li>
        <li ng-show="contents.can_write"><a href="" ng-click="createPrompt = true"><i class="icon-folder-close"></i> <span co-translate>Create a folder</span></a></li>
        <li ng-show="contents.can_manage"><a class="popup" href="{{ settings.coconuts_root }}manage/{{ contents.path }}"><i class="icon-key"></i> <span co-translate>Manage this share's permissions</span></a></li>
        <li ng-show="contents.can_manage"><a href="/admin/auth/user/"><i class="icon-user"></i> <span co-translate>Manage user accounts</span></a></li>
    </ul>
</div>

<div ng-hide="currentPhoto">
    <p ng-show="contents.files.length == 0 && contents.folders.length == 0" co-translate>There are no files in this folder.</p>

    <div class="file" title="{{ folder.filedate }}" ng-repeat="folder in contents.folders">
        <div class="filename"><a href="{{ folder.url }}"><img ng-src="{{ settings.static_root }}img/folder.png"/>{{ folder.name }}</a></div>
        <div class="filesize"></div>
        <div class="fileactions" ng-show="contents.can_write">
            <a href="" ng-click="promptDelete(folder)"><i class="icon-remove"></i> <span co-translate>Delete</span></a>
        </div>
    </div>

    <div ng-switch="contents.files.length == contents.photos.length">
        <div ng-switch-when="false">
            <div class="file" title="{{ file.filedate }}" ng-repeat="file in contents.files">
                <div class="filename"><a href="{{ file.url }}"><img ng-src="{{ file.name | fileIcon }}"/>{{ file.name }}</a></div>
                <div class="filesize">{{ file.filesize | fileSize }}</div>
                <div class="fileactions" ng-show="contents.can_write">
                    <a href="" ng-click="promptDelete(file)"><i class="icon-remove"></i> <span co-translate>Delete</span></a>
                </div>
            </div>
        </div>
        <div ng-switch-when="true">
            <ul class="thumbnails">
                <li ng-repeat="photo in contents.photos">
                    <a class="thumbnail" href="#/{{ photo.path }}"><img ng-src="{{ settings.coconuts_root }}render/{{ photo.path }}?size=128" alt="{{ photo.name }}"/></a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div ng-show="currentPhoto">
    <div class="thumbnail" style="position: relative" ng-show="currentPhoto">
        <img ng-src="{{ settings.coconuts_root}}render/{{ currentPhoto.path }}?size=1024" alt="{{ currentPhoto.name }}"/>
        <a class="left carousel-control" ng-href="#/{{ previousPhoto.path }}" ng-show="previousPhoto">&lsaquo;</a>
        <a class="right carousel-control" ng-href="#/{{ nextPhoto.path }}" ng-show="nextPhoto">&rsaquo;</a>
    </div>

    <div class="well photo-footer">
        <ul class="nav nav-tabs nav-stacked photo-info">
            <li title="The size of the original picture"><i class="icon-resize-full"></i> {{ currentPhoto.size[0] }} x {{ currentPhoto.size[1] }} pixels</li>
            <li title="The size of the original picture"><i class="icon-file"></i> {{ currentPhoto.filesize | fileSize }}</li>
            <li title="The camera used to take this picture"><i class="icon-camera"></i> {{ currentPhoto.camera }}</li>
            <li title="The aperture and exposure time for this picture"><i class="icon-wrench"></i> {{ currentPhoto.settings }}</li>
        </ul>
        <div class="photo-actions">
            <a class="btn btn-danger" href="" ng-click="promptDelete(currentPhoto)" ng-show="contents.can_write"><i class="icon-remove"></i> <span co-translate>Delete</a>
            <a class="btn" href="{{ settings.coconuts_root }}download/{{ currentPhoto.path }}"><i class="icon-download"></i> <span co-translate>Download</span></a>
        </div>
    </div>
</div>

<div class="modal" ng-show="deleteTarget">
  <div class="modal-header">
      <button type="button" class="close" aria-hidden="true" ng-click="deleteTarget = undefined">&times;</button>
      <h3 co-translate>Really delete "{{ deleteTarget.name }}"?</h3>
  </div>
  <div class="modal-body">
    <img ng-src="{{ settings.coconuts_root }}render/{{ deleteTarget.path }}?size=128" alt="{{ deleteTarget.name }}" style="vertical-align: center; display: inline"/>
    <p co-translate ng-show="deleteFolder">Are you sure you want to delete the folder "{{ deleteTarget.name }}" and all its contents?</p>
    <p co-translate ng-hide="deleteFolder">Are you sure you want to delete the file "{{ deleteTarget.name }}"?</p>
</div>
<div class="modal-footer">
    <a class="btn btn-danger" href="" ng-click="doDelete()" co-translate>Yes, I'm sure</button>
    <a class="btn" href="" ng-click="deleteTarget = undefined" co-translate>No, I'm not sure</a>
</div>
</div>

<form class="modal form-inline" method="post" ng-show="createPrompt">
<div class="modal-header">
    <button type="button" class="close" aria-hidden="true" ng-click="createPrompt = false">&times;</button>
    <h3><i class="icon-folder-close"></i> <span co-translate>Create a folder</span></h3>
</div>
<div class="modal-body">
    <label for="id_name">Name:</label>
    <input id="id_name" name="name" type="text" ng-model="createName">
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="doCreate()">Save</button>
</div>
</form>

</div>
{% endverbatim %}

{% endblock %}
