{% extends "coconuts/base.html" %}
{% load coconuts_tags %}
{% load i18n %}

{% block subtitle %}{{ photo }}{% endblock %}

{% block breadcrumbs %}{% coconuts_crumbs photo.path %}{% endblock %}

{% block content %}
<div class="thumbnail" style="position: relative">
<img src="{% url coconuts.views.render photo.path %}?size={{ size }}" alt="{{ photo }}"/>
{% if nav.previous %}<a class="left carousel-control" href="{{ nav.previous.url }}">&lsaquo;</a>{% endif %}
{% if nav.next %}<a class="right carousel-control" href="{{ nav.next.url }}">&rsaquo;</a>{% endif %}
</div>
<!-- preload previous / next images -->
{% if nav.previous %}
<img style="display:none" src="{% url coconuts.views.render nav.previous.path %}?size={{ size }}" alt="{{ nav.previous }}"/>
{% endif %}
{% if nav.next %}
<img style="display:none" src="{% url coconuts.views.render nav.next.path %}?size={{ size }}" alt="{{ nav.next }}"/>
{% endif %}

<div class="well photo-footer">
<ul class="nav nav-tabs nav-stacked photo-info">
    <li title="{% trans "The size of the original picture" %}"><i class="icon-resize-full"></i> {% imagesize photo.size %}</li>
    <li title="{% trans "The size of the original picture" %}"><i class="icon-file"></i> {% filesize photo.filesize %}</li>
{% if photo.camera %}
    <li title="{% trans "The camera used to take this picture" %}"><i class="icon-camera"></i> {{ photo.camera }}</li>
{% endif %}
{% if photo.settings %}
    <li title="{% trans "The aperture and exposure time for this picture" %}"><i class="icon-wrench"></i> {{ photo.settings }}</li>
{% endif %}
</ul>
<div class="photo-actions">
    <a class="btn" href="{% url coconuts.views.download photo.path %}"><i class="icon-download"></i> {% trans "Download" %}</a>
{% if can_write %}
    <a class="btn btn-danger popup" href="{% url coconuts.views.delete photo.path %}?back={{ photo.url|urlencode }}&amp;next={% if nav.next %}{{ nav.next.url|urlencode }}{% else %}{{ folder.url|urlencode }}{% endif %}"><i class="icon-remove"></i> {% trans "Delete" %}</a>
{% endif %}
</div>
{% endblock %}
