{% extends "coconuts/base.html" %}
{% load coconuts_tags %}
{% load i18n %}

{% block subtitle %}{{ folder }}{% endblock %}

{% block breadcrumbs %}{% coconuts_crumbs folder.path %}{% endblock %}

{% block rssfeeds %}
<link rel="alternate" href="{% url coconuts.views.rss folder.path %}" type="application/rss+xml" title="" id="gallery" />
{% endblock %}

{% block content %}
<h1>{{ folder }}</h1>

{% if not children and not files %}
<p>{% trans "There are no files in this folder." %}</p>
{% else %}
{% for dir in children %}
<div class="file" title="{{ dir.filedate }}">
  <div class="filename"><a href="{{ dir.url }}"><img src="{% coconuts_static "img/folder.png" %}"/>{{ dir }}</a></div>
  <div class="filesize"></div>
{% if can_write %}
  <div class="fileactions" title="{% trans "Delete this folder" %}"><a href="{% url coconuts.views.delete dir.path %}?back={{ folder.url|urlencode }}&amp;next={{ folder.url|urlencode }}"><i class="icon-remove"></i> {% trans "Delete" %}</a></div>
{% endif %}
</div>
{% endfor %}

{% ifequal mode "photos" %}

<ul class="thumbnails">
{% for photo in photos %}
<li><a class="thumbnail" href="{{ photo.url }}"><img src="{% url coconuts.views.render photo.path %}?size=128" alt="{{ photo }}"/></a></li>
{% endfor %}
</ul>

{% else %}

{% for file in files %}
<div class="file" title="{{ file.filedate }}">
<div class="filename"><a href="{{ file.url }}"><img src="{% coconuts_mimeicon file.name %}"/>{{ file }}</a></div>
<div class="filesize">{% filesize file.filesize %}</div>
{% if can_write %}
<div class="fileactions" title="{% trans "Delete this file" %}"><a href="{% url coconuts.views.delete file.path %}?back={{ folder.url|urlencode }}&amp;next={{ folder.url|urlencode }}"><i class="icon-remove"></i> {% trans "Delete" %}</a></div>
{% endif %}
</div>
{% endfor %}

{% endifequal %}

{% endif %}

{% if can_write %}
<br/>
{% include "coconuts/folder_operations.html" %}
{% endif %}

{% endblock %}

{% block footer %}
{{ block.super }}
<script type="text/javascript">
$('input[name=upload]').change(function() {
 $('#upload-fake').val($(this).val());
});
</script>
{% endblock footer %}
