<!DOCTYPE html>
<html lang="en">
<head>
<title>{% block title %}{% endblock %}</title>
{% load i18n %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}coconuts/css/base.css"/>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}coconuts/css/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}coconuts/css/bootstrap-responsive.min.css"/>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}coconuts/css/font-awesome.min.css"/>
{% block headextra %}{% endblock %}
</head>

<body>
<div class="container">
<div id="header">
    <div id="logo">&nbsp;</div>
    <div id="branding">{% block branding %}{% endblock %}</div>
    <div id="user-tools">
{% if user.is_authenticated %}
<a href="{% url django.contrib.auth.views.logout %}">{% trans "Log out" %}</a>
{% else %}
{% comment %}FIXME : fix hard-coded URL{% endcomment %}
<a href="{{ login_url }}?next=/">{% trans "Log in" %}</a>
{% endif %}
    </div>
</div>
<div class="breadcrumbs">{% block breadcrumbs %}{% endblock %}</div>
<div id="content">{% block content %}{% endblock %}</div>
<div id="footer">
    <script src="{{ STATIC_URL }}coconuts/js/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}coconuts/js/bootstrap.min.js"></script>
    {% block footer %}{% endblock %}
</div>
</div>
</body>
</html>
