/* blocks */

#photo-wrapper {
  float: left;
  width: 100%;
}

#photo-main {
  margin-left: 205px;
}

#photo-related {
  float: left;
  margin-left:-100%;
  width: 200px;
}

/* various */

.module {
  background-color: white;
  border: 1px solid #ccc;
  padding: 0;
  margin-bottom: 3px;
  width: 100%;
}

.module h2, .module caption {
  background: #7ca0c7;
  background: -moz-linear-gradient(top, #bcd2e9, #7ba0c6);
  background: -webkit-gradient(linear, left top, left bottom, from(#bcd2e9), to(#7ba0c6));
  color:white;
  font-size:1em;
  font-weight:normal;
  line-height: 20px;
  margin:0;
  padding:2px 4px;
  text-align:center;
}

.module ul {
  list-style:square inside;
  padding: 0px;
  margin: 0px;
}

.module p, h4 {
  margin: 10px;
}

.quote-text {
  margin: 5px;
  font-size: 10px;
}

.quote-author {
  font-size: 10px;
  margin-left: 25em;
}

.ui-app {
  font-style: italic;
  font-weight: bold;
}

.ui-entry {
  border-bottom: 1px dashed #777;
  font-style: italic;
}

.url {
  font-weight: bold;
}

/* files */

.file {
  display: table-row;
  padding: 2px;
  font-size: 12px;
}

.file img {
  border: 0px;
  padding: 2px;
  margin-right: 5px;
  vertical-align: middle;
}

.file a:hover img {
  border: 0px;
}

.filename {
  display: table-cell;
  padding-right: 10px;
}

.filetitle {
  display: table-cell;
  padding: 0 5px;
}

.filesize {
  display: table-cell;
  padding: 0 5px;
}

.fileactions {
  display: table-cell;
  padding: 0 5px;
}

/* picture header */
.download {
  float: right;
}

.pagination {
  float:left;
  list-style-image:none;
  list-style-position:outside;
  list-style-type:none;
  margin:0;
  padding:0;
}

.pagination li {
  display: inline;
  float: left;
  margin-right: 5px;
}

/* sidebar */

.image-camera {
  background: url(../img/camera.png) no-repeat;
}

.image-delete {
  background: url(../img/delete.png) no-repeat;
}

.image-download {
  background: url(../img/download.png) no-repeat;
}

.image-manage {
  background: url(../img/manage.png) no-repeat;
  padding-left: 29px;
}

.image-settings {
  background: url(../img/settings.png) no-repeat;
}

.image-show {
  background: url(../img/show.png) no-repeat;
}

.image-size {
  background: url(../img/size.png) no-repeat;
}

.image-upload {
  background: url(../img/upload.png) no-repeat;
}

.image-users {
  background: url(../img/users.png) no-repeat;
  padding-left: 29px;
}

.image-zoom-in {
  background: url(../img/zoom_in.png) no-repeat;
}

.image-zoom-out {
  background: url(../img/zoom_out.png) no-repeat;
}

.module img {
  vertical-align: middle;
  padding-right: 5px;
}
