/* blocks */

#header {
    display: none;
}

/* various */

.object-tools {
    float: right;
    margin-bottom: -2em;
    margin-top: -36px;
    padding-left: 0;
    position: relative;
}

/* files */

.file {
  display: table-row;
}

.file img {
  border: 0px;
  padding: 2px;
  margin-right: 5px;
  vertical-align: middle;
}

.file a:hover img {
  border: 0px;
}

.filename {
  display: table-cell;
  padding-right: 10px;
  min-width: 10em;
}

.filetitle {
  display: table-cell;
  padding: 0 5px;
}

.filesize {
  display: table-cell;
  padding: 0 5px;
}

.fileactions {
  display: table-cell;
  padding: 0 5px;
}

/* photos */

.thumbnails > li {
    height: 128px;
}

.photo-info {
    display: inline-block;
    margin: 0;
}

.photo-actions {
    display: inline-block;
    float: right;
}
